<!DOCTYPE html>
<html lang="ru" xmlns: xmlns:>
<head>
    <meta charset="UTF-8">
    <title>Система отрисовки</title>
    <link rel="stylesheet" href="../static/styles/style.css"/>
</head>
<body>
<form method="post">
    <div class="task-details">
        <div class="details">
            <label for="measurer">Замерщик</label>
            <input id="measurer" name="measurer" placeholder="Иванов Иван Иванович" autocomplete="off" type="text"
                   value={{measurer}}>

            <label for="date">Дата создания заказа</label>
            <input type="date" name="date" id="date" placeholder="ДД.ММ.ГГГГ" autocomplete="off" value={{date}}>
        </div>

        <div class="details">
            <label for="orderer">Заказчик</label>
            <input id="orderer" name="orderer" placeholder="Иванов Иван Иванович" autocomplete="off" value={{orderer}}>

            <label for="phone-number">Номер телефона заказчика</label>
            <input type="tel" id="phone-number" name="phone-number" placeholder="89990000000" autocomplete="off"
                   maxlength="11" value={{phone_number}}>
        </div>

        <div class="details">
            <label for="address">Улица</label>
            <input id="address" name="address" placeholder="ул.Ленина" autocomplete="off" value={{street}}>

            <label for="flat-number">Квартира</label>
            <input id="flat-number" name="flat-number" autocomplete="off" class="short-input" value={{flat}}>

            <label for="floor-number">Этаж</label>
            <input id="floor-number" name="floor-number" autocomplete="off" class="short-input" value={{floor}}>
        </div>

        <div class="details">
            Примечание<br>
            <textarea id="comments" name="comments">{{comment}}</textarea>
        </div>
    </div>

    <div class="draw-space">
        {% for i in range(0, len) %}
            <div class={{polygons[i]}} id="draw-block">
                {% if polygons[i][0] == '1' %}
                <div class="setting1d">
                    <form method="post" action="">
                        <label for="y1">Y1</label>
                        <input id="y1" name={{"y1_{}".format(polygons[i][2:])}} class="short-input">
                        <br>
                        <label for="y2">Y2</label>
                        <input id="y2" name={{"y2_{}".format(polygons[i][2:])}} class="short-input">
                        <br>
                        <label for="width">Ширина</label>
                        <input id="width" name={{"width_{}".format(polygons[i][2:])}} class="short-input">
                        <br>
                        <input type="submit" name={{"add_points_1d_{}".format(polygons[i][2:])}} onclick="stay_place()">
                        <div class="point-list1d">
                            {% for i in point_arr["{}".format(polygons[i][2:])]%}
                            y1: {{i[0]}}; y2: {{i[1]}}; width: {{i[2]}}<br>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div id="view_draw">
                    <img src={{"../static/img/polygon{}.svg".format(polygons[i][2:])}}>
                </div>
                {% else %}
                <div class="setting1d">
                    <label for="x1-2d">x1</label>
                    <input id="x1-2d" name={{"x1_{}".format(polygons[i][2:])}} class="short-input">
                    <label for="y1-2d">y1</label>
                    <input id="y1-2d" name={{"y1_{}".format(polygons[i][2:])}} class="short-input">
                    <br>
                    <label for="x2-2d">x2</label>
                    <input id="x2-2d" name={{"x2_{}".format(polygons[i][2:])}} class="short-input">
                    <label for="y2-2d">y2</label>
                    <input id="y2-2d" name={{"y2_{}".format(polygons[i][2:])}} class="short-input">
                    <br>
                    <label for="x3-2d">x3</label>
                    <input id="x3-2d" name={{"x3_{}".format(polygons[i][2:])}} class="short-input">
                    <label for="y3-2d">y3</label>
                    <input id="y3-2d" name={{"y3_{}".format(polygons[i][2:])}} class="short-input">
                    <br>
                    <label for="x4-2d">x4</label>
                    <input id="x4-2d" name={{"x4_{}".format(polygons[i][2:])}} class="short-input">
                    <label for="y4-2d">y4</label>
                    <input id="y4-2d" name={{"y4_{}".format(polygons[i][2:])}} class="short-input">
                    <br>
                    <input type="submit" name={{"add_points_2d_{}".format(polygons[i][2:])}} onclick="stay_place()">
                    <div class="point-list">
                        {% for i in point_arr["{}".format(polygons[i][2:])]%}
                        ({{i[0]}}, {{i[1]}}), ({{i[2]}}, {{i[3]}}), ({{i[4]}}, {{i[5]}}), ({{i[6]}}, {{i[7]}})<br>
                        {% endfor %}
                    </div>
                </div>
                <div id="view_draw2">
                    <img src={{"../static/img/polygon{}.svg".format(polygons[i][2:])}}>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="buttons-space">
        <form class="axis-type-from" method="post">
            <label for="draw-type">Построить чертёж по</label>
            <select id="draw-type" name="draw-type">
                <option value="1axis">1 оси</option>
                <option value="2axis">2 осям</option>
            </select>

            <input type="submit" class="add" value="Добавить чертёж" name="add_draw" onclick="stay_place()">
            <input type="submit" class="clear" value="Очистить всё" name="reset" onclick="stay_place()">
            {% if download_access %}
                <input type="submit" class="savesvg" value="Скачать .svg" name="download-svg" onclick="stay_place()">
                <input type="submit" class="savepdf" value="Скачать .pdf" name="download-pdf" onclick="stay_place()">
            {% endif %}
        </form>
        <script>
            function stay_place(){
                localStorage['scrollY'] = window['scrollY'];
            }

            function f() {
                window.scroll(0, localStorage['scrollY']);
                localStorage.removeItem('scrollY');
            }

            window.onload = f
        </script>
    </div>
</form>
</body>
</html>