<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Система отрисовки</title>
    <link rel="stylesheet" href="../static/styles/style.css"/>
</head>
<body>
    <div class="workspace">
        <div class="button-space">
            <form method="POST" action="{{ url_for('save') }}" class="save-btn">
                <button type="submit" class="button" id="savebtn">Сохранить</button>
            </form>

            <div class="dropdown">
                <button class="dropbtn">Добавить фигуру</button>
                <div class="dropdown-content">

                    <form method="POST" action="{{ url_for('add_polygon1') }}">
                        <button type="submit" class="button-drop">по 1 оси</button>
                    </form>

                    <form method="POST" action="{{ url_for('add_polygon2') }}">
                        <button type="submit" class="button-drop">по 2 осям</button>
                    </form>

                </div>
            </div>

            <form method="POST" action="{{ url_for('reset_project') }}" class="reset-btn">
                <button type="submit" class="button">Стереть все</button>
            </form>
        </div>

        <div class="settings-view">

            <div class="settings">
                <div class="space"></div>
                <form action="" method="post">
                    <p>
                        <input type="text" id="width" class="in_field" name="customer" placeholder="ФИО заказчика">
                    </p>
                    <p>
                        <input type="text" id="y1_1d" class="in_field" name="time" placeholder="Время заказа">
                    </p>
                    <p>
                        <input type="text" id="y2_1d" class="in_field" name="executor" placeholder="ФИО исполнителя">
                    </p>
                    <input type="submit" class="sub-btn-proj" value="Сохранить детали заказа(.pdf)">
                </form>

                <form method="POST" action="{{ url_for('save_project') }}">
                        <button type="submit" class="sub-btn-proj">Сохранить чертёж(.svg)</button>
                </form>
            </div>

            <div class="view">
                <div class="Result"></div>
                <div class="result-img">
                    <img src="../static/img/polygon.svg">
                </div>
            </div>

        </div>
    </div>
</body>
</html>