.task-details{
    width: 1100px;
    height: 380px;
    background-color: darkslategray;
    margin-left: 210px;
    margin-top: 20px;
    border-radius: 20px;
    color: #dddddd;
    margin-inside: 20px;
}

.details{
    margin-left: 20px;
    font-family: sans-serif;
    font-size: 20px;
    height: 40px;
}

.short-input{
    width: 50px;
}

textarea{
    margin-inside: 20px;
    width: 500px;
    height: 200px;
    border-radius: 5px;
    resize: none;
    border: none;
    margin-left: 20px;
    font-family: sans-serif;
    margin-top: 10px;
    overflow: auto;
}

#date{
    width: 150px;
}

#phone-number{
    width: 150px;
}

.buttons-space{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 210px;
}

input{
    border-radius: 5px;
    border: none;
    height: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 20px;
    width: 300px;
}

.axis-type-from{
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

option{
    font-family: sans-serif;
    font-size: 20px;
}

.button{
    background-color: darkslategray;
    color: #dddddd;
}

.button:hover{
    background-color: #1c3939;
}

select{
    width: 90px;
    font-family: sans-serif;
    font-size: 20px;
}

#draw-block{
    width: 1100px;
    height: 555px;
    background-color: darkslategray;
    margin-left: 210px;
    margin-top: 20px;
    border-radius: 20px;
    color: #dddddd;
    margin-inside: 20px;
}

.setting1d{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    height: 535px;
    width: 535px;
    float: left;
    border-radius: 5px;
}

#view_draw{
    margin-left: 10px;
    margin-top: 10px;
    height: 535px;
    width: 535px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 5px;
}

#view_draw2{
    margin-left: 10px;
    margin-top: 10px;
    height: 535px;
    width: 535px;
    background-color: #FFFFFF;
    float: left;
    border-radius: 5px;
}

.add{
    width: 200px;
}

.add:hover{
    background-color: #8888;
}

.clear{
    width: 200px;
}

.clear:hover{
    background-color: #8888;
}

.savesvg{
    width: 200px;
}

.savesvg:hover{
    background-color: #8888;
}

.savepdf{
    width: 200px;
}

.savepdf:hover{
    background-color: #8888;
}

.point-list{
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    width: 535px;
    height: 340px;
    margin-top: 10px;
    color: black;
    overflow: auto;
}

.point-list1d{
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    width: 535px;
    height: 340px;
    margin-top: 50px;
    color: black;
    overflow: auto;
}

.generate:hover{
    background-color: #8888;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}
.table td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}