/* Кнопка выпадающего списка */
.dropbtn {
  background-color: #AAA;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  font-family: sans-serif;
  border-radius: 40px;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 10px;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 120px;
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content button {
  color: black;
  padding: 12px 16px;
  font-family: sans-serif;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #555; border-radius: 0}

.button{
  background-color: #AAA;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  margin-right: 10px;
  float: left;
  font-family: sans-serif;
  border-radius: 40px;
}

.button:hover{
  background-color: #555;
}

.button-space{
  width: 1000px;
  height: 60px;
}

.button-drop{
  width: 192px;
  font-size: 20px;
  font-family: sans-serif;
}

.settings{
  background-color: #BBB;
  width: 500px;
  height: 600px;
  float: left;
  margin-right: 10px;
  margin-left: 200px;
  margin-top: 15px;
  color: #FFF;
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.view{
  margin-top: 15px;
  background-color: #BBB;
  width: 600px;
  height: 600px;
  float: left;
  place-items: center;
  font-size: 16px;
  font-family: sans-serif;
  color: #FFF;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 10px;
  margin-left: 20px;
}

.Result{
  height: 25px;
}

.result-img{
  margin-left: 25px;
}


.reset-button{
  float: left;
}

.save-btn{
  margin-left: 100px;
}

body{
  background-color: #EEE;
}

.in_field{
  margin-left: 20px;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

.in_field2d{
  margin-left: 20px;
  width: 60px;
  height: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 16px;
}

#savebtn{
  background-color: darkblue;
  margin-left: 100px;
  border-radius: 40px;
}

#savebtn:hover{
  background-color: #0000be;
}

.polygon-list{
  width: 450px;
  height: 300px;
  background-color: #FFF;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  margin-left: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sub-btn-2d{
  margin-left: 20px;
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: darkblue;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
}

.sub-btn-2d:hover{
  background-color: #0000be;
}

li{
  overflow: hidden;
}

.sub-btn-proj{
  margin-top: 10px;
  margin-left: 20px;
  width: 250px;
  height: 30px;
  border-radius: 15px;
  background-color: darkblue;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
  border: none;
}

.sub-btn-proj:hover{
  background-color: #0000be;
}

.space{
  height: 10px;
}